<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
    

            <!-- ############################################## -->
            <!-- bloco de edição: criando o pop up com o dialog -->
            <p:dialog widgetVar="addEditFornecedorPopup"                      
                      width="450"
                      header="#{(addEditFornecedorMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      modal="true"
                      resizable="false"
                      draggable="true">
                <h:panelGrid columns="1" id="addEditFornecedorPanel">
                    <h:form id="formaddEditFornecedorPanel">
                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_RazaoSocial}:" />
                            <p:inputTextarea style="width:270px;" autoResize="true" effectDuration="5" maxHeight="20" value="#{addEditFornecedorMB.fornecedor.razaoSocial}" id="razaoSocial"
                                             required="true" requiredMessage="Razão Social deve ser preenchida."/>
                            <p:message for="razaoSocial" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_NomeFantasia}:" />
                            <p:inputText value="#{addEditFornecedorMB.fornecedor.nomeFantasia}" id="nomeFantasia"
                                         required="true" requiredMessage="Nome Fantasia deve ser preenchida."/>
                            <p:message for="nomeFantasia" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Nacionalidade" />
                            <p:selectOneRadio id="options" value="#{addEditFornecedorMB.nacionalidade}" >
                                <f:selectItem itemLabel="Nacional" itemValue="nacional" />
                                <f:selectItem itemLabel="Internacional" itemValue="internacional" />
                                <p:ajax event="valueChange" update=":formaddEditFornecedorPanel:cnpj :formaddEditFornecedorPanel:ie"/>
                            </p:selectOneRadio>
                            <p:message for="nomeFantasia" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="#{label.general_Cnpj}:" />
                            <p:inputMask value="#{addEditFornecedorMB.fornecedor.cnpj}" id="cnpj" size="18" mask="99.999.999/9999-99" disabled="#{addEditFornecedorMB.esconderCnpj}" validator="#{addEditFornecedorMB.validateCNPJ}"/>
                            <p:message for="cnpj" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Ie}:" />
                            <p:inputText value="#{addEditFornecedorMB.fornecedor.ie}" id="ie"
                                         required="true" requiredMessage="Inscrição Estadual deve ser preenchida." disabled="#{addEditFornecedorMB.esconderCnpj}"/>
                            <p:message for="ie" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="#{label.general_Website}:" />
                            <p:inputText value="#{addEditFornecedorMB.fornecedor.website}" id="website"/>
                            <p:message for="website" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="#{label.general_Fone}:" />
                            <p:inputMask value="#{addEditFornecedorMB.fornecedor.fone}" id="fone" mask="(99) 9999-9999"/>
                            <p:message for="fone" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="#{label.general_Fax}:" />
                            <p:inputMask value="#{addEditFornecedorMB.fornecedor.fax}" id="fax" mask="(99) 9999-9999"/>
                            <p:message for="fax" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="E-mail:" />
                            <p:inputText value="#{addEditFornecedorMB.fornecedor.email}" id="email" required="true" requiredMessage="E-mail deve ser preenchido."/>
                            <p:message for="email" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Status: " />
                            <p:selectOneMenu id="status" value="#{addEditFornecedorMB.fornecedor.status}" required="true" requiredMessage="Stauts deve ser preenchido.">
                                <f:selectItems  value="#{addEditFornecedorMB.listaStatus}" var="f" itemLabel="#{f}" itemValue="#{f}"/>
                            </p:selectOneMenu>
                            <p:message for="status" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="#{label.general_Endereco}:" rendered="false"/>
                            <p:inputText value="#{addEditFornecedorMB.fornecedor.fkEndereco}" id="endereco" rendered="false"/>
                            <p:message for="endereco" display="icon"/>

                        </h:panelGrid>
                        <p:messages autoUpdate="true" showSummary="true" showDetail="true"/>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{addEditFornecedorMB.gravar}"
                                         action="#{fornecedorMB.pesquisar()}"
                                         update="#{renderizeOnComplete} :addEditFornecedorPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditFornecedorPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deleteFornecedorPopup" width="250" modal="true"
                      header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         actionListener="#{addEditFornecedorMB.excluir}"
                                         action="#{fornecedorMB.pesquisar()}"
                                         update="#{renderizeOnComplete}"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deleteFornecedorPopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <!-- ############################################## -->
            <!-- bloco de edição: criando o pop up com o dialog -->
            <p:dialog widgetVar="addEditPopupRepresentante"                      
                      width="400"
                      header="#{(addEditFornecedorMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      modal="true"
                      resizable="false"
                      draggable="true">
                <h:panelGrid columns="1" id="addEditPanelRepresentante">
                    <h:form>
                        <h:panelGrid columns="3">

                            <h:outputText value="#{label.general_Name}:" />
                            <p:inputText value="#{addEditFornecedorMB.representante.nome}" id="repNome" required="true"/>
                            <p:message for="repNome" display="icon"/>

                            <h:outputText value="#{label.general_Fone}:" />
                            <p:inputMask value="#{addEditFornecedorMB.representante.fone}" id="repFone" mask="(99) 9999-9999"/>
                            <p:message for="repFone" display="icon"/>

                            <h:outputText value="E-mail:" rendered="true"/>
                            <p:inputText value="#{addEditFornecedorMB.representante.email}" required="true" id="mailRep" rendered="true" requiredMessage="#{label.general_Mail_Required}"/>
                            <p:message for="mailRep" display="icon"/>

                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{addEditFornecedorMB.gravarRepresentante}"
                                         action="#{fornecedorMB.pesquisar()}"
                                         update="#{renderizeOnComplete}, :addEditPanelRepresentante"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopupRepresentante').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopupRepresentante" width="250" modal="true"
                      header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         actionListener="#{addEditFornecedorMB.excluirRepresentante}"
                                         action="#{fornecedorMB.pesquisar()}"
                                         update="#{renderizeOnComplete}"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopupRepresentante').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>
</ui:composition>