<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    
            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopup"
                      width="550"
                      header="#{(addEditPessoaMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      modal="true"                      
                      resizable="false"
                      draggable="true">
                <h:panelGrid columns="1" id="addEditPanel">
                    <h:form id="formAddEditPessoa">
                        <h:panelGrid>
                            <p:selectOneRadio value="#{addEditPessoaMB.pessoa.escopo}">
                                <f:selectItem itemLabel="Interno" itemValue="0"/>
                                <f:selectItem itemLabel="Externo" itemValue="1" />
                                <p:ajax event="valueChange" process="@this" update="@form"/>
                            </p:selectOneRadio>
                        </h:panelGrid>
                        <h:panelGrid columns="4">

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Full_Name}" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.nome}" id="nome"/>
                            <p:message for="nome" display="icon"/>

                            <h:outputText value="" />
                            <h:outputText value="Nome da mãe" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.nomeMae}" id="nomemae"/>
                            <h:outputText value="" />

                        </h:panelGrid>
                        <h:panelGrid columns="8">

                            <h:outputText styleClass="asterisco" value="*" rendered="#{addEditPessoaMB.pessoa.escopo==0}"/>
                            <h:outputText styleClass="asterisco" value=" " rendered="#{addEditPessoaMB.pessoa.escopo==1}"/>
                            <h:outputText value="Usuário" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.username}" id="username" validator="#{addEditPessoaMB.validateUsername}"/>
                            <p:message for="username" display="icon"/>

                            <h:outputText value="" />
                            <h:outputText value="Passaporte" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.passaporte}" id="passaporte"/>
                            <h:outputText value="" />

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="CPF" />
                            <p:inputMask value="#{addEditPessoaMB.pessoa.cpf}" id="cpf" mask="999.999.999-99" validator="#{addEditPessoaMB.validateCPF}"/>
                            <p:message for="cpf" display="icon"/>

                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="RG" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.rg}" id="rg"/>
                            <p:message for="rg" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*" rendered="#{addEditPessoaMB.pessoa.escopo==0}"/>
                            <h:outputText styleClass="asterisco" value=" " rendered="#{addEditPessoaMB.pessoa.escopo==1}"/>
                            <h:outputText value="E-Mail" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.email}" id="email" validator="#{addEditPessoaMB.validateEmail}"/>
                            <p:message for="email" display="icon"/>
                            <h:outputText styleClass="asterisco" value="*" rendered="#{addEditPessoaMB.pessoa.escopo==0}"/>
                            <h:outputText styleClass="asterisco" value=" " rendered="#{addEditPessoaMB.pessoa.escopo==1}"/>
                            <h:outputText value="Instituição" />
                            <p:selectOneMenu id="comboInstituicao" value="#{addEditPessoaMB.idInstituicaoCadastro}">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{addEditPessoaMB.listaCadInstituicoes}"/>
                                <p:ajax event="valueChange" update="comboUnidade comboDepartamento" listener="#{addEditPessoaMB.pesquisarCadUnidades}"/>
                            </p:selectOneMenu>
                            <p:message for="comboInstituicao" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*" rendered="#{addEditPessoaMB.pessoa.escopo==0}"/>
                            <h:outputText styleClass="asterisco" value=" " rendered="#{addEditPessoaMB.pessoa.escopo==1}"/>
                            <h:outputText value="Unidade" />
                            <p:selectOneMenu id="comboUnidade" value="#{addEditPessoaMB.idUnidadeCadastro}">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{addEditPessoaMB.listaCadUnidades}"/>
                                <p:ajax event="valueChange" update="comboDepartamento" listener="#{addEditPessoaMB.pesquisarCadDepartamentos}"/>
                            </p:selectOneMenu>
                            <p:message for="comboUnidade" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*" rendered="#{addEditPessoaMB.pessoa.escopo==0}"/>
                            <h:outputText styleClass="asterisco" value="" rendered="#{addEditPessoaMB.pessoa.escopo==1}"/>
                            <h:outputText value="Departamento" />
                            <h:selectOneMenu id="comboDepartamento" value="#{addEditPessoaMB.idDepartamentoCadastro}">
                                <f:selectItem itemLabel="Selecione"/>
                                <f:selectItems value="#{addEditPessoaMB.listaCadDepartamentos}"/>
                            </h:selectOneMenu>
                            <p:message for="comboDepartamento" display="icon"/>

                            <h:outputText value="" />
                            <h:outputText value="Telefone" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.telefone}" id="telefone"/>
                            <h:outputText value="" />

                            <h:outputText value="" />
                            <h:outputText value="Telefone celular" />
                            <p:inputText value="#{addEditPessoaMB.pessoa.telefoneCelular}" id="telefoneCelular"/>
                            <h:outputText value="" />

                            <h:outputText value="" />
                            <h:outputText value="Data de nascimento" />
                            <p:calendar value="#{addEditPessoaMB.pessoa.dataNascimento}" id="dataNascimento" pattern="dd/MM/yyyy" navigator="true" locale="pt_BR" onkeypress="if(event.keyCode!==8){mascara(this, mascaraData);}"/>
                            <h:outputText value="" />

                        </h:panelGrid>

                        <h:panelGrid columns="2" rendered="#{addEditPessoaMB.podeGerenciarGrupos}">
                            <h:outputText value="Grupo" />
                            <p:pickList value="#{addEditPessoaMB.listaGrupos}" var="n" itemLabel="#{n}" itemValue="#{n}" converter="papelConverter" iconOnly="true">
                                <f:facet name="sourceCaption">Disponiveis</f:facet>
                                <f:facet name="targetCaption">Permitidos</f:facet>
                            </p:pickList>
                        </h:panelGrid>
                        <p:messages/>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{addEditPessoaMB.gravar}"
                                         update="#{renderizeOnComplete}, :addEditPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopup').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

</ui:composition>