<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog widgetVar="editAlineaPanel"
              width="650"
              modal="true"
              header="#{(infoAuxilioMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
              draggable="true"
              resizable="false">
        <h:panelGrid columns="1" id="editAlineaGrid" width="100%">
            <h:form id="formEditAlinea">
                <h:panelGrid columns="3">

                    <h:outputText value="Alínea" />
                    <h:selectOneMenu value="#{addEditAlineaMB.alineaBean.fkCategoriaAlinea}" converter="categoriaAlineaConverter"
                                     required="true">
                        <f:selectItems value="#{addEditAlineaMB.listaCategorias}"/>
                    </h:selectOneMenu>
                    <h:outputText value="" />

                    <h:outputText value="Moeda"/>
                    <p:selectOneMenu value="#{addEditAlineaMB.alineaBean.moeda}" required="true">
                        <f:selectItem itemLabel="R$" itemValue="1" />
                        <f:selectItem itemLabel="U$" itemValue="2" />
                    </p:selectOneMenu>
                    <h:outputText value="" />

                    <h:outputText value="Valor Aprovado" />
                    <p:inputText id="verbaAprovada" value="#{addEditAlineaMB.alineaBean.verbaAprovada}" converter="bigDecimalMoneyConverter" style="width: 100%; text-align: right" onkeypress="mascara(this, valor);">
                        <p:ajax event="blur" listener="#{addEditAlineaMB.atualizaValorSubcentroDistribuidor}" update=":formEditAlinea:panelSubcentros"/>
                    </p:inputText>
                    <p:message for="verbaAprovada" display="icon"/>

                    <h:outputText value="Itens financiáveis" />
                    <p:inputTextarea id="obsAlinea" rows="5" cols="50" maxlength="512" value="#{addEditAlineaMB.alineaBean.observacoes}"/>
                    <h:outputText value="" />

                </h:panelGrid>
                <p:panel collapsed="false" header="Subcentros de despesas/Benefícios complementares" toggleable="false" id="panelSubcentros">
                    <p:dataTable var="subcentro" value="#{addEditAlineaMB.alineaBean.subcentrosDespesas}" id="distribuicaoSubcentrosValorAlinea" editable="true" >

                        <p:column headerText="Nome" style="width: 30%">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{subcentro.fkCentroDespesa.nome}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu  id="subcentroSelDropDown" value="#{subcentro.fkCentroDespesa}" converter="centroDespesaConverter" required="true" immediate="true" onkeypress="if (event.keyCode === 13) {
                                        return false;
                                    }">
                                        <f:selectItems value="#{addEditAlineaMB.listaSubCentros}" var="subcen" itemLabel="#{subcen.nome}" itemValue="#{subcen}"/>
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Valor" styleClass="colunaMostrarValorFinanceiro" id="colunaValoresSubcentros">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText id="valorSubcentroOutput" value="#{subcentro.valor}">
                                        <f:convertNumber pattern="###,###,##0.00"/>
                                    </h:outputText>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText id="valorSubcentroInput" value="#{subcentro.valor}" converter="bigDecimalMoneyConverter" validator="#{addEditAlineaMB.validateValorSubcentro}" style="width: 100%; text-align: right" onkeypress="if (event.keyCode === 13) {return false;}mascara(this, valor);">
                                        <p:ajax process=":formEditAlinea:distribuicaoSubcentrosValorAlinea:subcentroSelDropDown :formEditAlinea:distribuicaoSubcentrosValorAlinea:valorSubcentroInput" update=":formEditAlinea:panelSubcentros"/>
                                    </p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Ações" style="width:50px">
                            <p:rowEditor rendered="#{!subcentro.centroDistribuidor}"/>
                            <p:commandLink id="deletesubcentrolink" actionListener="#{addEditAlineaMB.prepareExcluirSubcentro(subc)}" immediate="true" rendered="#{!subcentro.centroDistribuidor}">
                                <h:graphicImage value="#{infoAuxilioMB.imagemExcluirRegistroCheque}" style="border:0" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton actionListener="#{addEditAlineaMB.addSubcentro}" update=":editAlineaGrid" icon="ui-icon-plusthick" immediate="true" 
                                     oncomplete="$('##{component.parent.clientId}'.replace(/:/g,'\\\\:')).find('.ui-datatable .ui-datatable-data .ui-row-editor .ui-icon-pencil').last().trigger('click'); $('##{component.parent.clientId}'.replace(/:/g,'\\\\:')).find('.ui-datatable .ui-datatable-data .ui-state-highlight .ui-editable-column').first().find('.ui-cell-editor-input select').focus(); return true;"
                                     disabled="#{addEditAlineaMB.listaSubCentros.size()==0}"/>
                </p:panel>
                <p:commandButton value="#{label.general_Save}"
                                 actionListener="#{addEditAlineaMB.gravarAlinea}"
                                 action="#{infoAuxilioMB.atualizaAuxilio}"
                                 update="#{renderizeOnComplete}, :editAlineaGrid"/>
                <p:commandButton value="#{label.general_Cancel}"
                                 onclick="PF('editAlineaPanel').hide();
                                    return false;" />
            </h:form>
        </h:panelGrid>
    </p:dialog>

    <p:dialog widgetVar="deletePopupSubcentro" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
        <h:form>
            <h:outputText value="#{label.general_Delete}"/>
            <h:panelGrid columns="2">
                <p:commandButton value="#{label.general_Yes}"
                                 actionListener="#{addEditAlineaMB.excluirSubcentro}"
                                 action="#{infoAuxilioMB.atualizaAuxilio}"
                                 update=":formEditAlinea:distribuicaoSubcentrosValorAlinea"/>
                <p:commandButton value="#{label.general_Cancel}"
                                 onclick="PF('deletePopupSubcentro').hide();
                                    return false;" />
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>