/* 
    Document   : sgpc
    Created on : 13/04/2011, 11:34:59
    Author     : Artur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

th.colunaMostrarData {
    text-align: left;
    width: 70px;
}
td.colunaMostrarData {
    text-align: center;
}
th.colunaMostrarDataHora {
    text-align: left;
    width: 110px;
}
th.colunaNumeroProcessoEntidade {
    text-align: left;
    width: 70px;
}
td.colunaNumeroProcessoEntidade {
    text-align: center;
}
td.colunaMostrarDataHora {
    text-align: center;
}
td.colunaMostrarValorFinanceiro{
    text-align: right;
}

.ui-widget {
   font-size: 11px !important;
}

.asterisco{
    color: red;
}

textFieldMostrarValorFinanceiro{
    text-align: right;
}

.inputCalendario input{
    width: 65px;
}
#messages td { white-space: pre; }

span.ui-messages-info-detail {
    white-space: pre;
    left: 15px;
}