<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">            
            <h:form id="form1">

                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="2">
                        <h:outputText value="#{label.general_Keyword}" />
                        <p:inputText value="#{atividadeMB.pesquisa}">
                            <p:ajax event="keyup" update="tabela" listener="#{atividadeMB.pesquisar}" />
                        </p:inputText>
                    </h:panelGrid>
                </p:panel>
                <p:dataTable id="tabela" value="#{atividadeMB.listaAtividade}" var="n" rows="10"
                             rowsPerPageTemplate="10,20,30"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}  Total de #{atividadeMB.listaAtividade.size()} registros encontrados"
                             paginatorPosition="bottom" paginator="true" rendered="true">
                    <f:facet name="header">
                        <h:outputText value="Atividades" />
                    </f:facet>

                    <p:column  style="width:20px">
                        <p:rowToggler/>
                    </p:column>

                    <p:column sortBy="#{n.titulo}">
                        <f:facet name="header">
                            <h:outputText value="Título" />
                        </f:facet>
                        <h:outputText value="#{n.titulo}" />
                    </p:column>

                    <p:column >
                        <f:facet name="header">
                            <h:outputText value="Descrição" />
                        </f:facet>
                        <h:outputText value="#{n.descricao}" />
                    </p:column>

                    <p:column style="width:100px">
                        <f:facet name="header">
                            <h:outputText value="Hora Inicial" />
                        </f:facet>
                        <h:outputText value="#{n.horaInicial}" >
                            <f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>
                        </h:outputText>
                    </p:column>

                    <p:column style="width:100px">
                        <f:facet name="header">
                            <h:outputText value="Hora Final" />
                        </f:facet>
                        <h:outputText value="#{n.horaFinal}" >
                            <f:convertDateTime pattern="dd/MM/yyyy - HH:mm"/>
                        </h:outputText>
                    </p:column>

                    <!--*************************************-->
                    <!--Inicio da Expansão-->
                    <!--*************************************-->
                    <p:rowExpansion>
                        <p:dataTable id="subTabela" value="#{n.pessoasInscritas}"  var="p">
                            <f:facet name="header">
                                <h:outputText value="Inscritos" />
                            </f:facet>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Usuário" />
                                </f:facet>
                                <h:outputText value="#{p.username}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Name}" />
                                </f:facet>
                                <h:outputText value="#{p.nome}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{label.general_Action}" />
                                </f:facet>
                                <p:commandLink id="removePart" action="#{atividadeMB.removerInscrito(n,p)}" update=":form1:tabela" disabled="false">
                                    <h:graphicImage value="#{atividadeMB.imagemExcluirInscricao}" style="border:0" />
                                </p:commandLink>
                            </p:column>

                        </p:dataTable>
                    </p:rowExpansion>
                    <!--*************************************-->
                    <!--Fim da Expansão-->
                    <!--*************************************-->

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>

                        <p:commandLink id="inscricao" oncomplete="PF('addInscricao').show()" update=":addInscricaoGrid">
                            <h:graphicImage value="#{atividadeMB.imagemInscricao}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{atividadeMB.atividade}" />
                        </p:commandLink>
                        <p:tooltip for="inscricao" value="Adicionar Pessoa" />

                        <p:commandLink id="editlink" update=":addEditPanel, :addDialog" actionListener="#{atividadeMB.prepareEditar(n)}">
                            <h:graphicImage value="#{atividadeMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                        <p:commandLink id="deletelink" oncomplete="PF('deletePopup').show()" disabled="true">
                            <h:graphicImage value="#{atividadeMB.imagemExcluirRegistro}" style="border:0" />
                            <f:setPropertyActionListener value="#{n}" target="#{atividadeMB.atividade}" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>

                    <f:facet name="footer">
                        <p:columnGroup rendered="false">
                            <p:column colspan="1"/>
                            <p:column>
                                <p:commandLink id="addlink" update=":addEditPanel, :addDialog" actionListener="#{atividadeMB.prepareAdicionar}" immediate="true" disabled="true">
                                    <h:graphicImage value="#{atividadeMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Add_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>
                </p:dataTable>
            </h:form>


            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addEditPopup"
                      id="addDialog"
                      width="350"
                      modal="true"
                      header="#{(atividadeMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      draggable="true"
                      visible="#{not empty facesContext.maximumSeverity}"
                      resizable="false">
                <h:panelGrid columns="1" id="addEditPanel">
                    <h:form>
                        <h:panelGrid columns="3">
                            <h:outputText value="Título" />
                            <p:inputText value="#{atividadeMB.atividade.titulo}" id="titulo" required="true" requiredMessage="#{label.general_Name_Required}."/>
                            <p:message for="titulo" display="icon"/>

                            <h:outputText value="Descrição" />
                            <p:inputText value="#{atividadeMB.atividade.descricao}" id="desc"/>
                            <p:message for="desc" display="icon"/>

                            <h:outputText value="Hora Inicial" />
                            <p:calendar id="horaI" pattern="dd/MM/yyyy" required="true" value="#{atividadeMB.atividade.horaInicial}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="horaI" display="icon"/>

                            <h:outputText value="Hora Final" />
                            <p:calendar id="horaF" pattern="dd/MM/yyyy" required="true" value="#{atividadeMB.atividade.horaFinal}" navigator="true" locale="pt_BR" requiredMessage="#{label.general_Date_Required}."/>
                            <p:message for="horaF" display="icon"/>
                        </h:panelGrid>

                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{atividadeMB.gravar}"
                                         update=":form1:tabela, :addDialog"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addEditPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:dialog widgetVar="addInscricao"
                      width="450"
                      modal="true"
                      header="Participantes Atividade"
                      draggable="true"
                      resizable="false">
                <h:panelGrid columns="1" id="addInscricaoGrid">
                    <h:form>
                        <h:panelGrid columns="1">
                            <p:panel header="#{label.general_Find}">
                                <h:panelGrid columns="2">
                                    <h:outputText value="#{label.general_Keyword}" />
                                    <p:inputText value="#{atividadeMB.pesquisaPessoa}">
                                        <p:ajax event="keyup" update="tabelaPart" listener="#{atividadeMB.pesquisarPessoa}" />
                                    </p:inputText>
                                </h:panelGrid>
                            </p:panel>
                            <p:dataTable id="tabelaPart" var="p" value="#{atividadeMB.listaPessoas}" rows="10" selection="#{atividadeMB.pessoas}" rowKey="#{p.id}">
                                <p:column selectionMode="multiple" />

                                <p:column headerText="Username">
                                    <h:outputText value="#{p.username}" />
                                </p:column>

                                <p:column headerText="Nome">
                                    <h:outputText value="#{p.nome}" />
                                </p:column>
                            </p:dataTable>

                            <h:panelGrid columns="1">
                                <p:messages id="participanteAtividade"/>
                            </h:panelGrid>

                        </h:panelGrid>
                        <p:commandButton value="Adicionar"
                                         action="#{atividadeMB.adicionaParticipantes}"
                                         update=":form1:tabela, :addInscricaoGrid"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('addParticipante').hide();return false;" />

                    </h:form>
                </h:panelGrid>
            </p:dialog>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         action="#{atividadeMB.excluir}"
                                         update=":form1:tabela"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>
</html>