<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Sistema de Gestão de Projetos Científicos - SGPC


Copyright  (C)  2010-2014  Instituto  de  Ciências  Matemáticas  e  de
                           Computação - ICMC/USP


This program is  free software; you can redistribute  it and/or modify
it under the  terms of the GNU General Public  License as published by
the Free Software Foundation; either  version 2 of the License, or (at
your option) any later version.

This program  is distributed in the  hope that it will  be useful, but
WITHOUT   ANY  WARRANTY;   without  even   the  implied   warranty  of
MERCHANTABILITY  or FITNESS  FOR A  PARTICULAR PURPOSE.   See  the GNU
General Public License for more details.

You  should have received  a copy  of the  GNU General  Public License
along  with  this  program;  if   not,  write  to  the  Free  Software
Foundation,  Inc.,  51  Franklin   Street,  Fifth  Floor,  Boston,  MA
02110-1301, USA.


EXCEPTION TO THE TERMS AND CONDITIONS OF GNU GENERAL PUBLIC LICENSE

The  LICENSE  file may  contain  an  additional  clause as  a  special
exception  to the  terms  and  conditions of  the  GNU General  Public
License. This  clause, if  present, gives you  the permission  to link
this  program with  certain third-part  software and  to obtain,  as a
result, a  work based  on this program  that can be  distributed using
other license than the GNU General Public License.  If you modify this
program, you may extend this exception to your version of the program,
but you  are not obligated  to do so.   If you do  not wish to  do so,
delete this exception statement from your version.

-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./layout.xhtml">
        <ui:define name="esquerda">
            <br/>
        </ui:define>
        <ui:define name="conteudo">            
            <h:form id="form1">
                <p:panel header="#{label.general_Find}">
                    <h:panelGrid columns="3">
                        <h:panelGrid columns="3">
                            <h:outputText value="#{label.general_Keyword}" />
                            <h:outputText value="Instituição" />
                            <h:outputText value="Unidade" />
                            <p:inputText value="#{centroDespesaMB.pesquisa}">
                                <p:ajax event="keyup" update="treeCentrosDesp" listener="#{centroDespesaMB.pesquisar}" />
                            </p:inputText>
                            <p:selectOneMenu id="comboInstituicao" value="#{centroDespesaMB.idInstituicao}">
                                <f:selectItems value="#{centroDespesaMB.listaInstituicoes}"/>
                                <p:ajax update="comboUnidade treeCentrosDesp" listener="#{centroDespesaMB.criarNodesArvore()}"/>
                            </p:selectOneMenu>
                            <p:selectOneMenu id="comboUnidade" value="#{centroDespesaMB.idUnidade}">
                                <f:selectItems value="#{centroDespesaMB.listaUnidades}"/>
                                <p:ajax update="treeCentrosDesp" listener="#{centroDespesaMB.criarNodesArvore()}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:commandLink id="downloadlinkPdf" title="Download PDF">
                                <p:graphicImage value="/images/icons/application_pdf.png" style="border:0"/>
                                <p:fileDownload value="#{centroDespesaMB.downloadReportPdf()}" />
                            </h:commandLink>
                            <h:commandLink id="downloadlinkXls" title="Download XLS">
                                <p:graphicImage value="/images/icons/application_vnd.ms_excel.png" style="border:0"/>
                                <p:fileDownload value="#{centroDespesaMB.downloadReportXls()}" />
                            </h:commandLink>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:panel>
                <p:treeTable id="treeCentrosDesp" value="#{centroDespesaMB.rootNode}" var="centroDesp" selectionMode="single" selection="#{centroDespesaMB.centroDespesaLista}">
                    <f:facet name="header">
                        <h:outputText value="Centros de Despesa" />
                    </f:facet>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Name}" />
                        </f:facet>
                        <h:outputText value="#{centroDesp.nome}" id="nome" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Tipo" />
                        </f:facet>
                        <h:outputText value="FINANCIADOR" rendered="#{centroDesp.tipo==2}"/>
                        <h:outputText value="FAVORECIDO" rendered="#{centroDesp.tipo==1}"/>
                        <h:outputText value="FAVORECIDO E FINANCIADOR" rendered="#{centroDesp.tipo==0}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{label.general_Action}" />
                        </f:facet>
                        <p:commandLink id="editlink" update=":addEditPanel" actionListener="#{centroDespesaMB.prepareEditar(centroDesp)}" disabled="#{!centroDespesaMB.podeEditarCentroDespesa}" immediate="true">
                            <h:graphicImage value="#{centroDespesaMB.imagemEditarRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="editlink" value="#{label.general_Edit_Tip}" />

                        <p:commandLink id="deletelink" actionListener="#{centroDespesaMB.prepareExcluir(centroDesp)}" disabled="#{!centroDespesaMB.podeExcluirCentroDespesa}">
                            <h:graphicImage value="#{centroDespesaMB.imagemExcluirRegistro}" style="border:0" />
                        </p:commandLink>
                        <p:tooltip for="deletelink" value="#{label.general_Delete_Tip}" />
                    </p:column>
                    <f:facet name="footer">
                        <p:columnGroup>
                            <p:column colspan="1"/>
                            <p:column>
                                <p:commandLink id="addlink" update=":addEditPanel" actionListener="#{centroDespesaMB.prepareAdicionar}" immediate="true" disabled="#{!centroDespesaMB.podeCriarCentroDespesa}">
                                    <h:graphicImage value="#{centroDespesaMB.imagemCriarRegistro}" style="border:0"/>
                                </p:commandLink>
                                <p:tooltip for="addlink" value="#{label.general_Edit_Tip}" />
                            </p:column>
                        </p:columnGroup>
                    </f:facet>
                </p:treeTable>
            </h:form>

            <!-- ################################### -->
            <!-- bloco de edição -->
            <p:panel>
            <p:dialog widgetVar="addEditPopup"                       
                      width="600"
                      modal="true"
                      header="#{(centroDespesaMB.currentState.equals('editar')) ? (label.general_Edit) : (label.general_Add)}"
                      resizable="false"
                      draggable="true">
                <h:panelGrid columns="1" id="addEditPanel">
                    <h:form>
                        <h:panelGrid columns="4">
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Instituição" />
                            <p:selectOneMenu id="comboInstituicaoEditar" value="#{centroDespesaMB.idInstituicaoEditar}">
                                <f:selectItems value="#{centroDespesaMB.listaInstituicoes}"/>
                                <p:ajax update="comboUnidadeEditar" listener="#{centroDespesaMB.criarNodesArvoreEditar()}"/>
                            </p:selectOneMenu>
                            <p:message for="comboInstituicaoEditar" display="icon"/>

                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Unidade" />
                            <p:selectOneMenu id="comboUnidadeEditar" value="#{centroDespesaMB.idUnidadeEditar}">
                                <f:selectItems value="#{centroDespesaMB.listaUnidades}"/>
                            </p:selectOneMenu>
                            <p:message for="comboUnidadeEditar" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value=""/>
                            <h:outputText value="Centro pai" />
                            <p:layout style="height:150px">
                                <p:layoutUnit position="center">
                                    <h:panelGrid id="catalogContent" style="width: 470px;">
                                        <p:tree id="treeSingle" value="#{centroDespesaMB.rootNodeEditar}" var="node" selectionMode="single" selection="#{centroDespesaMB.centroDespesasPaiEditar}" style="width:95%" dynamic="true">
                                            <p:treeNode>
                                                <h:outputText value="#{node}"/>
                                            </p:treeNode>
                                        </p:tree>
                                    </h:panelGrid>
                                </p:layoutUnit>
                            </p:layout>
                            <p:message for="treeSingle" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="#{label.general_Name}" />
                            <p:inputText value="#{centroDespesaMB.centroDespesa.nome}" id="nome" required="true" requiredMessage="#{label.general_Name_Required}" size="70"/>
                            <p:message for="nome" display="icon"/>
                            
                            <h:outputText styleClass="asterisco" value="*"/>
                            <h:outputText value="Tipo"/>
                            <p:selectOneMenu id="comboTipo" value="#{centroDespesaMB.centroDespesa.tipo}" required="true" converter="javax.faces.Integer">
                                <f:selectItem itemLabel="FINANCIADOR" itemValue="2" />
                                <f:selectItem itemLabel="FAVORECIDO" itemValue="1" />
                                <f:selectItem itemLabel="FAVORECIDO E FINANCIADOR" itemValue="0" />
                            </p:selectOneMenu>
                            <p:message for="comboTipo" display="icon"/>
                        </h:panelGrid>
                        <p:messages/>
                        <p:commandButton value="#{label.general_Save}"
                                         actionListener="#{centroDespesaMB.gravar}"
                                         update=":form1:treeCentrosDesp, :addEditPanel"/>
                        <p:commandButton value="#{label.general_Cancel}"
                                         actionListener="#{centroDespesaMB.pesquisar()}"
                                         update=":form1:treeCentrosDesp, :addEditPanel"
                                         onclick="PF('addEditPopup').hide();return false;" />
                    </h:form>
                </h:panelGrid>
            </p:dialog>
            </p:panel>

            <!-- ################################### -->
            <!-- bloco de exclusão -->
            <p:dialog widgetVar="deletePopup" width="250" modal="true" header="#{label.general_Confirm}" resizable="false">
                <h:form>
                    <h:outputText value="#{label.general_Delete}"/>
                    <p:messages autoUpdate="true" showSummary="true" showDetail="true"/>
                    <h:panelGrid columns="2">
                        <p:commandButton value="#{label.general_Yes}"
                                         actionListener="#{centroDespesaMB.excluir}"
                                         update=":form1:treeCentrosDesp"/>

                        <p:commandButton value="#{label.general_Cancel}"
                                         actionListener="#{centroDespesaMB.pesquisar()}"
                                         update=":form1:treeCentrosDesp"
                                         onclick="PF('deletePopup').hide();return false;" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

        </ui:define>        
    </ui:composition>
</html>